/* HOME PAGE STYLING */
#profilepicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 40px;
  width: 250px;
  height: 360px;
  border-radius: 50%;
}

.intro{
  width: 50%; 
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
}
.intro-p{
  padding-top: 30px;
  padding-bottom: 40px;
  width: 50%; 
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  font-size: 25px;
}

#aboutMeButton, #goBackButton{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
#aboutMeButtonColor, #goBackButton{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body#home{
  background-color: #262829;
  background-size: cover;
  width:100vw;
  min-height: 100vh;
  font-family: IBM Plex Serif;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #262829; 
  font-family: IBM Plex Serif; 
}

#icons{
  padding-top: 50px;
  padding-bottom: 35px;
  width: 80%; /* Adjust the width as needed*/
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  font-size: 85px;
}



#containerImage{
  position:relative;
  display: block; 
  padding-top: 45px; 
  padding-bottom: 45px;
  height: 350px;
  text-align: center;
  z-index: 1;
}
.imageContainer{
  border-radius: 30px;
}
#image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37px;
  font-weight: bold;
  color: black;
  z-index: -1;
}
#imageButton{
  position: absolute;
  display: inline-block;
  font-size: 22px;
  z-index: -1;
  top: 73%;
  left: 57%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: -1;
}

/* Frontend and Full Stack page styling */
#title{
  text-align: center;
  color:white;
  padding-top: 100px;
}
#projectCards {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  gap: 20px; /* Add space between items */
  margin-top: 30px;
  overflow: hidden;
}

/* Header1 + Header2 + Header3 styling */
.Header1, .Header2, .Header3{
  background-color: #1bc4ca;
  position: fixed;
  width: 100%;
  padding: 10px;
  z-index: 1000;
  font-family: IBM Plex Serif;
  font-size: 20px; 
}

#cornerName{
  font-family: IBM Plex Serif;
  font-size: 26px; 
  font-weight: bold;
}

/* About Me page styling */
#aboutmephotos{
  display: flex;
  justify-content: center; /* Distributes space between elements */
  align-items: center;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 20px;
}
#aboutmephotos img{
  max-width: 100%; 
  height: 300px;
  margin: 0 30px;
}

/* Footer styling */
#footerbar {
  position:relative;
  width: 100%;
  background-color: #262829;
  text-align: center;
} 
  #footer {
  padding-top: 50px;
  padding-bottom: 15px;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
} 
/* LinkedIn Icon */
#icons-3 {
  font-size: 57px; 
  color: white; 
}
/* Github Icon */
#icons-4 {
  font-size: 60px;
  color: black;
}


/* Contact Me Form styling */
#form{
  color:aliceblue; 
  padding-top: 175px;
  margin: 0 auto; 
  width: 80%; 
  max-width: 400px;
  font-size: 22px;
  padding-bottom: 10px;
}