/* HOME PAGE STYLING */
#profilepicture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45px;
  padding-bottom: 40px;
  width: 250px;
  height: 360px;
  border-radius: 50%;
}

.intro{
  width: 50%; /* Adjust the width as needed*/
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
}
.intro-p{
  padding-top: 30px;
  padding-bottom: 40px;
  width: 50%; /* Adjust the width as needed*/
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  font-size: 25px;
}

#aboutMeButton, #goBackButton{
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}
#aboutMeButtonColor, #goBackButton{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

body#home{
  background-color: #262829;
  background-size: cover;
  width:100vw;
  min-height: 100vh;
  font-family: IBM Plex Serif
}

#icons{
  padding-top: 50px;
  padding-bottom: 35px;
  width: 80%; /* Adjust the width as needed*/
  margin: 0 auto;
  text-align: center;
  color: aliceblue;
  font-size: 85px;
}
#icons-2{
  padding-top: 50px;
  padding-bottom: 35px;
  width: 80%; /* Adjust the width as needed*/
  margin: 0 auto;
  text-align: center;
}
#icons-3{
  text-decoration: none;
  color: white;
  font-size: 65px;
}
#icons-4{
  text-decoration: none;
  color:black;
  font-size: 71px;
}


#containerImage{
  position:relative;
  display: block; 
  padding-top: 45px; 
  padding-bottom: 40px;
  height: 350px;
  text-align: center;
  z-index: 1;
}
.imageContainer{
  border-radius: 30px;
}
#image-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 37px;
  font-weight: bold;
  color: black;
  z-index: -1;
}
#imageButton{
  position: absolute;
  display: inline-block;
  font-size: 22px;
  z-index: -1;
  top: 73%;
  left: 57%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: -1;
}

/* Frontend and Full Stack page styling */
#title{
  text-align: center;
  color:white;
  padding-top: 100px;
}
#projectCards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  overflow: hidden;
}

/* Header1 + Header2 styling */
.Header1, .Header2{
  background-color: #1bc4ca;
  position: fixed;
  width: 100%;
  padding: 10px;
}


